@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <img src="~/Plugins/Payments.Instamojo/logo.jpg" />
        </td>
    </tr>
    <tr>
        <td>
            <b>@T("Plugins.Payments.Instamojo.RedirectionTip")</b>
        </td>
    </tr>
</table>
