@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Payments.Payu.Models;
<form asp-controller="PaymentPayu" asp-action="Configure" method="post">
    <table class="adminContent">
        <tr>
        <tr>
            <td class="adminTitle">
                <nop-label asp-for="MerchantId" />
            </td>
            <td class="adminData">
                <nop-editor asp-for="MerchantId" />
                <span asp-validation-for="MerchantId"></span>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <nop-label asp-for="Key" />
            </td>
            <td class="adminData">
                <nop-editor asp-for="Key" />
                <span asp-validation-for="Key"></span>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <nop-label asp-for="MerchantParam" />
            </td>
            <td class="adminData">
                <nop-editor asp-for="MerchantParam" />
                <span asp-validation-for="MerchantParam"></span>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <nop-label asp-for="PayUri" />
            </td>
            <td class="adminData">
                <nop-editor asp-for="PayUri" />
                <span asp-validation-for="PayUri"></span>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <nop-label asp-for="AdditionalFee" />
            </td>
            <td class="adminData">
                <nop-editor asp-for="AdditionalFee" />
                <span asp-validation-for="AdditionalFee"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save
                </button>
            </td>
        </tr>
    </table>
</form>    