<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("nop4you.widget.instagram.information")
        </div>
        <div class="panel-body">
            Please go to <a href="https://lightwidget.com" target="_blank">lightwidget.com</a> and generate own Instagram code. <br />
            After code generating, please find your key at the code. Below key available in red frame.<br />
            <img src="~/Plugins/Widgets.Instagram/Content/image/intro.jpg" />
        </div>
    </div>
</div>