@model Nop4you.Plugin.Widgets.Instagram.Models.ConfigurationModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("nop4you.widget.instagram.configuration")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="InstagramKey" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="InstagramKey" />
                    <span asp-validation-for="InstagramKey"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="widgetZone" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="widgetZone" />
                    <span asp-validation-for="widgetZone"></span>
                </div>
            </div>

        </div>
    </div>
</div>